@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root body {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}
:root h1, :root h2, :root h3, :root h4, :root h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  box-shadow: 0 0 0 1000px transparent inset;
  -webkit-text-fill-color: white; /* Keep your text color */
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

